<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <applications>
        <application>
            <id>Fixed</id>
            <executable>FileSystemTest.exe</executable>
            <workingDirectory></workingDirectory>
        </application>
    </applications>
    <processes>
      <process>
        <executable>PsfLauncher.*</executable>
      </process>
        <process>
            <executable>.*</executable>
            <fixups>
                <fixup>
                    <dll>FileRedirection.dll</dll>
                    <config>
                        <redirectedPaths>
                          <packageRelative>
                            <pathConfig>
                              <base></base>
                              <patterns>
                                <pattern>.*\\.txt</pattern>
                                <pattern>Tèƨƭ.*</pattern>
                              </patterns>
                            </pathConfig>
                          </packageRelative>
                            <knownFolders>
                                <knownFolder>
                                    <id>System</id>
                                    <relativePaths>
                                        <relativePath>
                                            <base></base>
                                            <patterns>
                                                <pattern>.*\\.txt</pattern>
                                            </patterns>
                                        </relativePath>
                                    </relativePaths>
                                </knownFolder>
                              <knownFolder>
                                <id>SystemX86</id>
                                <relativePaths>
                                  <relativePath>
                                    <base></base>
                                    <patterns>
                                      <pattern>.*\\.txt</pattern>
                                    </patterns>
                                  </relativePath>
                                </relativePaths>
                              </knownFolder>
                              <knownFolder>
                                <id>ProgramFilesX86</id>
                                <relativePaths>
                                  <relativePath>
                                    <base></base>
                                    <patterns>
                                      <pattern>.*\\.txt</pattern>
                                    </patterns>
                                  </relativePath>
                                </relativePaths>
                              </knownFolder>
                              <knownFolder>
                                <id>ProgramFilesX64</id>
                                <relativePaths>
                                  <relativePath>
                                    <base></base>
                                    <patterns>
                                      <pattern>.*\\.txt</pattern>
                                    </patterns>
                                  </relativePath>
                                </relativePaths>
                              </knownFolder>
                              <knownFolder>
                                <id>ProgramFilesCommonX86</id>
                                <relativePaths>
                                  <relativePath>
                                    <base></base>
                                    <patterns>
                                      <pattern>.*\\.txt</pattern>
                                    </patterns>
                                  </relativePath>
                                </relativePaths>
                              </knownFolder>
                              <knownFolder>
                                <id>ProgramFilesCommonX64</id>
                                <relativePaths>
                                  <relativePath>
                                    <base></base>
                                    <patterns>
                                      <pattern>.*\\.txt</pattern>
                                    </patterns>
                                  </relativePath>
                                </relativePaths>
                              </knownFolder>
                              <knownFolder>
                                <id>Windows</id>
                                <relativePaths>
                                  <relativePath>
                                    <base></base>
                                    <patterns>
                                      <pattern>.*\\.txt</pattern>
                                    </patterns>
                                  </relativePath>
                                </relativePaths>
                              </knownFolder>
                              <knownFolder>
                                <id>ProgramData</id>
                                <relativePaths>
                                  <relativePath>
                                    <base></base>
                                    <patterns>
                                      <pattern>.*\\.txt</pattern>
                                    </patterns>
                                  </relativePath>
                                </relativePaths>
                              </knownFolder>
                            </knownFolders>
                        </redirectedPaths>
                    </config>
                </fixup>
            </fixups>
        </process>
    </processes>
</configuration>