<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<applications>
		<application>
			<id>Fixed32</id>
			<executable>ArgRedirectionTest.exe</executable>
		</application>
		<application>
			<id>Fixed64</id>
			<executable>ArgRedirectionTest.exe</executable>
		</application>
	</applications>
</configuration>
