<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <applications>
        <application>
            <id>Hi</id>
            <executable>MyApp.exe</executable>
            <arguments>Hello</arguments>
            <workingDirectory>me\\blah</workingDirectory>
            <stopOnScriptError>true</stopOnScriptError>
            <startScript>
                <scriptPath>yar.ps1</scriptPath>
                <scriptArguments>FirstArgument</scriptArguments>
                <runInVirtualEnvironment>false</runInVirtualEnvironment>
                <runOnce>false</runOnce>
                <showWindow>true</showWindow>
                <waitForScriptToFinish>true</waitForScriptToFinish>
                <timeout>1000</timeout>
            </startScript>
            <endScript>
                <scriptPath>TheEndingScript.ps1</scriptPath>
                <scriptArguments>\\\"First argument\\\" secondArgument</scriptArguments>
                <runInVirtualEnvironment>true</runInVirtualEnvironment>
                <runOnce>true</runOnce>
                <showWindow>false</showWindow>
                <waitForScriptToFinish>false</waitForScriptToFinish>
                <timeout>100000</timeout>
            </endScript>
        </application>
        <application>
            <id>Hello</id>
            <executable>MyBetterApp.exe</executable>
            <endScript>
                <scriptPath>TheBestScript.ps1</scriptPath>
                <scriptArguments>BetterArguments</scriptArguments>
            </endScript>
        </application>
    </applications>
    <processes>
        <process>
            <executable>MyApp*</executable>
            <fixups>
                <fixup>
                    <dll>TraceFixup64.dll</dll>
                    <config>
                        <traceMethod>eventLog</traceMethod>
                        <traceLevels>
                            <default>always</default>
                        </traceLevels>
                    </config>
                </fixup>
                <fixup>
                    <dll>FileRedirection64.dll</dll>
                    <config>
                        <redirectedPaths>
                            <knownFolders>
                                <knownFolder>
                                    <id>ProgramFilesX64</id>
                                    <relativePaths>
                                        <relativePath>
                                            <base>Contoso\\config</base>
                                            <patterns>
                                                <pattern>.*</pattern>
                                            </patterns>
                                        </relativePath>
                                    </relativePaths>
                                </knownFolder>
                                <knownFolder>
                                    <id>{FDD39AD0-238F-46AF-ADB4-6C85480369C7}</id>
                                    <relativePaths>
                                        <relativePath>
                                            <base>MyApplication</base>
                                            <patterns>
                                                <pattern>.*</pattern>
                                            </patterns>
                                        </relativePath>
                                    </relativePaths>
                                </knownFolder>
                            </knownFolders>
                            <packageRelative>
                                <pathConfig>
                                    <base>logs</base>
                                    <patterns>
                                        <pattern>.*\\.log</pattern>
                                        <pattern>Cool</pattern>
                                    </patterns>
                                </pathConfig>
                            </packageRelative>
                            <packageDriveRelative>
                                <pathConfig>
                                    <base>temp</base>
                                    <patterns>
                                        <pattern>.*</pattern>
                                    </patterns>
                                </pathConfig>
                            </packageDriveRelative>
                        </redirectedPaths>
                    </config>
                </fixup>
            </fixups>
        </process>
        <process>
            <executable>MyBetterApp*</executable>
            <fixups>
                <fixup>
                    <dll>FileRedirection64.dll</dll>
                    <config>
                        <redirectedPaths>
                            <packageRelative>
                                <pathConfig>
                                    <base>configs</base>
                                    <patterns>
                                        <pattern>AutoUpdate\\.ini</pattern>
                                    </patterns>
                                    <redirectedTargetBase>H:</redirectedTargetBase>
                                    <isReadOnly>true</isReadOnly>
                                </pathConfig>
                                <pathConfig>
                                    <base>contoso</base>
                                    <patterns>
                                        <pattern>.*\\.[eE][xX][eE]</pattern>
                                        <pattern>.*\\.[dD][lL][lL]</pattern>
                                        <pattern>.*\\.[tT][lL][bB]</pattern>
                                        <pattern>.*\\.[cC][oO][mM]</pattern>
                                    </patterns>
                                    <isExclusion>true</isExclusion>
                                </pathConfig>
                            </packageRelative>
                        </redirectedPaths>
                    </config>
                </fixup>
            </fixups>
        </process>
    </processes>
</configuration>